<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper">
        @Html.Partial("_NavPartial")

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/js")
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
            $(document).ready(function() {
                $('#dataTables').DataTable({
                    responsive: true,
                    "aLengthMenu": [5, 10, 15, 20],
                    "iDisplayLength": 5
                });
            });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
