<li>
    <a href="@Url.Action("Dashboard", "Home")">
        <i class="fa fa-bars fa-fw"></i> Dashboard
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-users fa-fw"></i> Clients
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li>
            <a href="@Url.Action("Details", "Students")">
                <i class="fa fa-search"></i>
                Search Students
            </a>
        </li>
        <li>
            <a href="@Url.Action("Details", "Faculties")">
                <i class="fa fa-search"></i>
                Search Faculty
            </a>
        </li>
        <li>
            <a href="@Url.Action("Create", "Students")">
                <i class="fa fa-plus"></i>
                Add Students
            </a>
        </li>
        <li>
            <a href="@Url.Action("Create", "Faculties")">
                <i class="fa fa-plus"></i>
                Add Faculty
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#">
        <i class="fa fa-users fa-fw"></i> Items
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li>
            <a href="@Url.Action("Details", "Books")">
                <i class="fa fa-search"></i>
                Search Books
            </a>
        </li>

        <li>
            <a href="@Url.Action("Create", "Books")">
                <i class="fa fa-plus"></i>
                Add Books
            </a>
        </li>
        
        <li>
            <a href="@Url.Action("Delete", "Books")">
                <i class="fa fa-minus"></i>
                Remove Books
            </a>
        </li>
        
    </ul>
</li>
<li>
    <a href="check-in.php">
        <i class="fa fa-check-square-o fa-fw"></i> Check-In
    </a>
</li>
<li>
    <a href="index.php">
        <i class="fa fa-sign-out fa-fw"></i> Logout
    </a>
</li>
