<li>
    <a href="@Url.Action("Dashboard", "Home")">
        <i class="fa fa-bars fa-fw"></i> Dashboard
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-users fa-fw"></i> Clients
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li>
            <a href="@Url.Action("Index", "Students")">
                <i class="fa fa-search fa-fw"></i>
                Search Students
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Faculties")">
                <i class="fa fa-search fa-fw"></i>
                Search Faculty
            </a>
        </li>
        <li>
            <a href="@Url.Action("Create", "Students")">
                <i class="fa fa-plus fa-fw"></i>
                Add Students
            </a>
        </li>
        <li>
            <a href="@Url.Action("Create", "Faculties")">
                <i class="fa fa-plus fa-fw"></i>
                Add Faculty
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#">
        <i class="fa fa-users fa-fw"></i> Items
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li>
            <a href="@Url.Action("Index", "Books")">
                <i class="fa fa-search fa-fw"></i>
                Search Books
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Periodicals")">
                <i class="fa fa-search fa-fw"></i>
                Search Periodicals
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Magazines")">
                <i class="fa fa-search fa-fw"></i>
                Search Magazines
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Cds")">
                <i class="fa fa-search fa-fw"></i>
                Search CDs/DVDs
            </a>
        </li>

        <li>
            <a href="@Url.Action("Create", "Books")">
                <i class="fa fa-plus fa-fw"></i>
                Add Books
            </a>
        </li>
        <li>
            <a href="@Url.Action("Create", "Periodicals")">
                <i class="fa fa-plus fa-fw"></i>
                Add Periodicals
            </a>
        </li>

        <li>
            <a href="@Url.Action("Create", "Magazines")">
                <i class="fa fa-plus fa-fw"></i>
                Add Magazines
            </a>
        </li>
        <li>
            <a href="@Url.Action("Create", "Cds")">
                <i class="fa fa-plus fa-fw"></i>
                Add CDs/DVDs
            </a>
        </li>
        
    </ul>
</li>
<li>
    <a href="index.php">
        <i class="fa fa-sign-out fa-fw"></i> Logout
    </a>
</li>
