@using Library_System.Models
@model Librarian
@{
    ViewBag.Title = "Log in";
}

@if (Html.ValidationSummary() != null)
{
    <div class="row">
        <div class="col-sm-12 alert alert-danger">
            @Html.ValidationSummary(true, "")
        </div>
    </div>
}

<div class="panel-body">
    @using (Html.BeginForm("Index", "Librarians", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
    {
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.TextBoxFor(m => m.EmployeeId, new {@class = "form-control", placeholder = "Employee Number", name = "employeeId"})
                @Html.ValidationMessageFor(m => m.EmployeeId, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Password", name = "password"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-lg btn-success btn-block"/>
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}